<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="../static/assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/main.css" rel="stylesheet">


</head>

<body>
<!-- ======= Header ======= -->
<section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">info@moibenconnections.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><a href=""><span>+254 722 369 769</span></a></i>
        </div>
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-pin-map d-flex align-items-center"><a href="#"><span>Eldoret, Kenya</span></a></i>
        </div>
    </div>
</section>
<!-- End Top Bar -->

<section id="hero" class="hero-contact">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-end">

        <!-- start of navbar -->

        <nav id="navbar" class="navbar navbar-light">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about_us.html">About us</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="contact_us.html">Contact Us</a></li>
                <li>
                    <button type="button" class="btn">Download App</button>
                </li>
            </ul>
        </nav>

        <!-- end of navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

    <div class="about-div">
        <h2><span>Contact Us</span></h2>
        <br>
        <h6>Home  >  Contact Us</h6>
    </div>
</section>


<section>
    <div class="about-company-div">
        <div class="contact-company-left-div">
            <h3>Get in touch with us</h3>
            <br>

            <p>Contact us on direct, by phone or fill out the form to receive a free consultation
                from our enthusiastic staff on any of your farm needs</p>

            <div class="phone-div">
                <div class="contact-info-item">
                    <i class="bi bi-phone-vibrate d-flex align-items-center"><a href="#" class="contact-item">Phone number</a></i>
                    <br>
                    <p>+254 722 369 769</p>
                </div>
                <br>
                <div class="contact-info-item">
                    <i class="bi bi-envelope d-flex align-items-center"><a href="#" class="contact-item">Email</a></i>
                    <br>
                    <p>info@moibenconnections.com</p>
                </div>
                <br>
                <div class="contact-info-item">
                    <i class="bi bi-pin-map d-flex align-items-center"><a href="#" class="contact-item">Address</a></i>
                    <br>
                    <p>Eldoret, Kenya</p>
                </div>
            </div>

        </div>

        <div class="contact-company-right-div">
            <div>
                <i class="bi bi-envelope d-flex align-items-center"><a href="#" class="contact-right-div">Send us a message</a></i>
            </div>
            <br>
            <input required style="padding-top: 40px" type="text" size="50px" class="text-line" placeholder="Full Name: "/><br>
            <input required style="padding-top: 30px" type="tel" size="50px" class="text-line" placeholder="Mobile Number: "/><br>
            <input required style="padding-top: 30px" type="email" size="50px" class="text-line" placeholder="Email Address: "/>
            <input style="padding-top: 60px" type="text" size="50px" class="text-line" placeholder="Type your message here "/>

            <div style="padding-top: 50px">
                <button type="button" class="btn bi bi-send">Send Message</button>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="testimonials-container">
        <img class="about-testimonials-img" src="../static/assets/img/testimonials.png" alt="">
        <div class="centered">We have received 100% satisfaction rate by clients who have used our platform</div>
    </div>


</section>


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">

                    <img class="footer-img" src="../static/assets/img/Beba%20App%20-%20Black%20Logo.png" alt="app-logo">

                </a>
                <h4>BEBA APP</h4>
                <p>One of the leading transportation and logistics providers over the world</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="footer-div-2 col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    <strong>Phone:</strong> +254 722 369 769<br>
                    <strong>Email:</strong> info@moibenconnections.com.com<br>
                </p>

            </div>

            <div class="footer-div-2 col-lg-4 col-6 footer-links">
                <h4>Stay in touch</h4>
                <ul>
                    <li>
                        <div class="topnav">
                            <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                                <input type="text" placeholder="Search.." name="search2">
                                <button type="submit"><i class="bi bi-send"></i></button>
                            </form>
                        </div>
                    </li>

                    <li><a href="">Subscribe to receive our latest offers and news via your email address</a></li>
                </ul>
            </div>

        </div>
    </div>

</footer>

<!-- End Footer -->
</body>
</html>